body {margin: 0;
      padding: 0;
      background-color: #ffffff;
      font-family: "Georgia", Times New Roman, Times, serif;
      font-color: #333333;}

h1 {font-family: 'Georgia', Times, Times New Roman, serif;}

img {width:300px;
	 height:300px;
	 position:relative;
	 float:left;
	 margin:20px;}

header {width:1256px; 
		height:110px;
		background-color:#ffffff;
		margin-top:0;
		overflow:hidden;
		border:solid #cccccc;}
		
.name-box {margin-top:30px;
	     padding-top:40px;
		font-size:25px;text-align:center;
		width:160px; 
	    height:80px;
	    background-color:#4aaaa5;
		margin-left:180px;
		float:left;
		color:white;}

.nav-box {margin-top:20px;
		  margin-right:150px;
		  font-size:20px; 
		  width:300px;
		  height:80px;
		  float:right;
		  background-color:#ffffff;}

.nav-smallbox {display:inline-block;
			 margin-right:25px;
			 padding-top:60px;
			 padding-bottom:0px; }


 .main {background-color:#C0C0C0;
 		clear:both;
 		width:1256px;
 		height:620px;
 	    border: solid #dddddd;
 	    position:relative;
 		}

 .aboutme   {width:40%;
 			height:70%;
 			float:left;
 			padding:40px;
 			margin-top:50px;
 			margin-left:150px;
 			border:solid #dddddd;
 			font-size:20px;
 			background-color: #ffffff;
 			overflow:hidden;
 			line-height:1.2;}

 .aside {width:215px;
 		height:145px;
 		position: absolute;
 		background-color: #ffffff;
 		top:50px;
 		right:150px;
 	    font-size:25px;
 	    padding:40px;
 		border:solid #dddddd;}
 
 #icon {width:60px;
 	   height:70px;
 	   display:inline-block;}

 footer {background-color: #666666;
	font-style: Arial;
	font-size:30px;
	text-align: center;
	padding-top: 40px;
	color: white;
	clear: both;
	overflow:auto;
	width: 1256px;
	height: 50px;
	position: relative;
	border-top:solid:#4aaaa5;}

#business, #nature, #sports, #technic {display:inline-block;
										width:200px;
										height:150px;
										margin: 15px;

										border: solid gray;} 

.portfolio  {width:40%;
 			height:70%;
 			float:left;
 			padding:30px;
 			margin-top:50px;
 			margin-left:150px;
 			border:solid #dddddd;
 			font-size:30px;
 			background-color: #ffffff;
 			}
.contact  {width:40%;
 			height:70%;
 			float:left;
 			padding:30px;
 			margin-top:50px;
 			margin-left:150px;
 			border:solid #dddddd;
 			font-size:20px;
 			background-color: #ffffff;
 			}








